{% extends "base_page.html" %}

{% block pagetitle %}
KEREMET
{% endblock %}

{% block content %}

<section class="py-2 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">KEREMET</h1>
            <p class="lead text-body-secondary">Ваш помощник в изучении казахского языка</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Вход</a>
                <a href="#" class="btn btn-secondary my-2">Регистрация</a>
            </p>
        </div>
    </div>
</section>

<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-2 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid slice">
                        <image href="static/book.svg" width="32" height="32" x="34" y="34" preserveAspectRatio="xMidYMid meet"/>
                        <rect width="100%" height="100%" fill="#55595c" opacity="0.7"></rect>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">Изучайте лексику</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button href="#" type="button" class="btn btn-md btn-outline-secondary">Начать</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid slice">
                        <image href="static/plus.svg" width="20" height="20" x="40" y="40" preserveAspectRatio="xMidYMid meet"/>
                        <rect width="100%" height="100%" fill="#55595c" opacity="0.7"></rect>
                    </svg>
                    <div class="card-body">
                        <p class="card-text">Добавляйте собственные слова в базу</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button href="#" type="button" class="btn btn-md btn-outline-secondary">Добавить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </div>
</div>

{% endblock %}